    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://imgs.search.brave.com/Y5oDG-FkeXmhBMC5pagAwr8JQ3nk5HO4GTBcm3tjf3E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly81Mjg3/YWEwMDg3NGEzMTNl/Mjk5ZC0xODUwOTY2/ZmMzMDdmZjIzZTFl/Nzg5YWVhZmQyNDc2/Yi5zc2wuY2Y1LnJh/Y2tjZG4uY29tL1Bv/c3RJbWFnZW0vMzQy/NDUvZm90b3MtZGUt/cGFpc2FnZW5zX28x/ZjlmM2kybjcxNXUy/MTFlZWVzZXZnNDFh/ZmJlLmpwZw"  height="300" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/img_2.jpg" height="300"  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/img_3.jpg" height="300" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
